*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
    width:100%;
    height: 100%;
}

/* ------------******
common shared classes 
---------------*******/
.text-primary
{
    color:#FB9D5C;
}
.d-flex
{
    display:flex;
}


