*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
    width:100%;
    height: 100%;
}

/*! ------------*******?/
---common shared classes 
/*!---------------*******/
.text-primary
{
    color:#fb9d5c;
}
.text-white
{
    color:#fff;
}
.text-size-primary
{
    font-size:45px;
}
.text-size-secondary
{
    font-size:20px;
}
.text-center
{
    text-align: center;
}
.d-flex
{
    display:flex;
}
.align-items
{
    align-items:center;
}
.justify-content
{
    justify-content:space-between;
}
.justify-around
{
    justify-content:space-around;
}

/* ?-------------------> 
?-header starts from here 
!--------------------> */
.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),url(../images/banner-background.jpg);
    height:129vh;
    background-size: cover;
    background-position:center;
}
 /** nav starts here  **/
 nav
 {
    margin:0 200px;
    padding-top:30px;
}
 nav li
 {
    list-style:none;
    margin-right:50px;
 }
 nav li a
 {
    text-decoration: none;
 }

 /** banner section starts **/

 .banner-container{
    justify-content:space-around;
 }
 .banner-content > h5
 {
    margin-bottom:10px;
 }
 .banner-content > h1
 {
    font-weight: 700;
    margin-bottom:10px;
    font-style:italic;
 }
 .btn-react
 {
    background-color:#FB9D5C;
    border:none;
    padding:15px 25px;
    border-radius:3px;
 }

 .logo-container
 {
    width:70%;
    margin:auto;
    padding : 40px 0;
 }

 /* ?-------------------> 
*    header ends here   *
!--------------------> */

/* ?-------------------> 
?-main starts from here 
!--------------------> */

 /** our services section starts **/
.services-section
{
    margin-top:100px;
}
.service-title
{
    margin-bottom: 15px;
}
 .services-section > p
 {
    font-size:18px;
    line-height:1.5;
 }
 .services-card-container
 {
    padding:60px 40px;
    display:grid;
    grid-template-columns: auto auto auto;
    gap:50px;
    margin:0 auto;
    width:80%;
 }
 .services-card-container .card-title
 {
    margin:10px 0;
    font-size:18px;
    font-weight: 600;
 }
 .service-card
 {
    border:1px solid gray;
    width:300px;
    text-align: center;
    padding:20px 10px;
 }
 .service-card > p
 {
    margin-top: 20px;
    line-height:1.5;
 }

  /** Hire us section starts **/
.hire-us-section{
      width:90%;
      margin:auto;
      margin-top: 40px;
}
.hire-content
{    
    width:50%;
}
.hire-btn
{
    background-color: #31D2F2;
    padding:15px 20px;
    border:none;
    border-radius:3px;
}
.hire-content .hire-subtitle-1
{
    line-height:1.5;
    margin:20px 0;
}
.hire-content .hire-subtitle-2
{
    line-height:1.5;
    margin-bottom:20px;
}
.hire-content > div h4
{
 font-size:30px;
 margin-left:20px;
}
.hire-content h4
{
 font-size:30px;
 margin-top:20px;
}

/** footer section starts **/

